* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 1rem; 
    font-family: 'EB Garamond', serif;
    max-width: 37.5rem; 
}

:root {
    --color1: rgba(0, 0, 0, 0.8)    ;
    --color11: ;
    --color111: ;
}
