html {
    font-size: 1rem; 
    font-family: 'EB Garamond', serif;
    max-width: 37.5rem; 
    margin: auto;
}

:root {
    --color1: rgba(0, 0, 0, 0.8)    ;
    --color11: ;
    --color111: ;
}
